@import "adds/variables";
@import "adds/mixins";
@import "blocks/header";
@import "blocks/buttons";
body {
  font-family: "Montserrat", sans-serif;
  color: $base-color;
}
li,
a {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  line-height: 48px;
}
