.header {
  padding-top: 18px;
  position: relative;
}

.header .menu {
  max-height: 57px;
  width: 100%;
  overflow-x: hidden;
}

.header .menu__icon {
  width: 32px;
  display: none;
  padding-top: 5px;
}

@media (max-width: 992px) {
  .header .menu__icon {
    display: block;
  }
}

@media (max-width: 576px) {
  .header .menu__icon {
    right: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header .menu__avatar-image {
  max-width: 57px;
  max-height: 57px;
  border-radius: 100%;
  margin-right: 15px;
  max-height: 57px;
}

.header .menu__avatar-title {
  padding-top: 3px;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  color: #2b2a2c;
}

.header .menu__avatar-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #6a696b;
  padding-top: 5px;
}

.header .menu__links {
  -webkit-transition: 0.3 all ease;
  transition: 0.3 all ease;
}

@media (max-width: 992px) {
  .header .menu__links {
    display: none;
  }
}

@media (max-width: 576px) {
  .header .menu__links {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
  }
}

@media (max-width: 992px) {
  .header .menu__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 28px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .menu__links-item {
  margin-right: 10px;
}

.header .menu__links-item:hover {
  border-bottom: 3px solid #2b2a2c;
}

.header .menu__links-item a {
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  color: #2b2a2c;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.header .main {
  position: relative;
  width: 100%;
  min-height: 600px;
  max-width: 100%;
  padding-top: 59px;
  max-height: 607px;
}

.header .main__bg {
  width: 1215px;
  height: 436px;
  background: url("../img/header_bg.png");
  z-index: -1;
  position: absolute;
  right: 0px;
  top: 97px;
}

@media (max-width: 992px) {
  .header .main__bg {
    right: 0px;
  }
}

.header .main__right {
  background: url("../img/man_min.png") right bottom no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 107px;
  top: -100px;
  z-index: -1;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

@media (max-width: 992px) {
  .header .main__right {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .header .main__right {
    right: 0px;
    height: 431px;
    left: 0px;
    margin: 0;
    top: 20px;
    padding: 0;
    z-index: -1;
    top: 0;
    background-size: contain;
  }
}

@media (max-width: 576px) {
  .header .main__right {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    right: 0px;
  }
}

.header .main__left {
  padding-top: 33px;
  position: relative;
  z-index: 1;
}

@media (max-width: 992px) {
  .header .main__left {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .header .main__left {
    position: absolute;
    top: 100px;
  }
}

@media (max-width: 576px) {
  .header .main__left {
    position: absolute;
    top: 0px;
    padding-top: 0;
    max-width: 250px;
  }
}

.header .main__left .title-pre {
  color: #2b2a2c;
  font-size: 32px;
  font-weight: 300;
  line-height: 15px;
  padding-bottom: 15px;
}

@media (max-width: 992px) {
  .header .main__left .title-pre {
    font-size: 24px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .header .main__left .title-pre {
    font-size: 20px;
    line-height: 10px;
  }
}

@media (max-width: 576px) {
  .header .main__left .title-pre {
    opacity: 0;
  }
}

.header .main__left .title-desc {
  color: #6a696b;
  padding-top: 19px;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
}

@media (max-width: 768px) {
  .header .main__left .title-desc {
    font-size: 16px;
    line-height: 10px;
  }
}

@media (max-width: 576px) {
  .header .main__left .title-desc {
    display: inline-block;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 7px 9px;
    line-height: 15px;
    display: none;
  }
}

.header .main__left-buttons {
  padding-top: 42px;
  margin-bottom: 43px;
}

@media (max-width: 768px) {
  .header .main__left-buttons {
    padding-top: 20px;
    margin-bottom: 17px;
  }
  .header .main__left-buttons a {
    padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .header .main__left-buttons {
    position: absolute;
    top: -10px;
    max-width: 200px;
  }
}

.header .main__left-social {
  padding-top: 27px;
}

@media (max-width: 576px) {
  .header .main__left-social {
    padding-left: 20px;
    padding-top: 140px;
    max-width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .main__left-social button {
    margin-top: 10px;
  }
}

.my-button {
  border-radius: 19px;
  border: 2px solid #2b2a2c;
  font-size: 16px;
  font-weight: 700;
  color: #2b2a2c;
  padding: 12px 26px;
  line-height: 16.84px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.my-button:hover {
  background-color: #2b2a2c;
}

.my-button-dark {
  -webkit-box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background-color: #2b2a2c;
  padding: 21px 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.my-button-dark:hover {
  background-color: #fff;
  color: #2b2a2c;
}

@media (max-width: 576px) {
  .my-button-dark {
    font-size: 14px;
    padding: 11px 16px;
  }
}

.my-button-white {
  border-radius: 25px;
  border: 1px solid #6a696b;
  color: #6a696b;
  padding: 21px 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  letter-spacing: 0.8px;
}

@media (max-width: 576px) {
  .my-button-white {
    background-color: rgba(255, 255, 255, 0.671);
  }
}

.my-button-white:hover {
  background-color: #2b2a2c;
}

@media (max-width: 576px) {
  .my-button-white {
    padding: 11px 16px;
  }
}

.my-button-square {
  width: 41px;
  height: 41px;
  background-color: #fff;
  border: 1px solid #2b2a2c;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #2b2a2c;
}

@media (max-width: 576px) {
  .my-button-square {
    background-color: rgba(255, 255, 255, 0.671);
  }
}

.my-button-square:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
}

.works {
  padding-top: 43px;
}

.works .nav-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #6a696b;
  margin: 0 5px;
  border-radius: 25px;
}

.works .nav-link:hover {
  background-color: #2b2a2c;
  color: #fff;
}

.works .nav-pills .nav-link.active {
  background-color: #2b2a2c;
}

.works .card-deck {
  padding-top: 36px;
}

.works .card-deck .card {
  max-height: 370px;
  -webkit-box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0;
  margin: 0 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}

.works .card-deck .card-desc {
  opacity: 0;
  position: absolute;
  padding: 20px;
  color: #fff;
}

.works .card-deck .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.works .card-deck .card:hover .card-desc {
  opacity: 1;
}

.works .card-deck .card:hover:before, .works .card-deck .card:hover:after {
  opacity: 1;
}

.works .card-deck .card .card-img-top {
  padding: 0;
  background: center center/cover no-repeat;
  width: 370;
}

.works .card-deck .card .card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  color: #2b2a2c;
  padding: 0 20px;
}

.works .card-deck .card .card-body {
  padding: 0;
  overflow: hidden;
  height: 71px;
  background-color: #ffffff;
}

.works .card-deck .card .card-category {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin: 6px 0;
  background-color: #6a696b;
  border-radius: 25px;
  padding: 2px 4px;
  margin: 10px 0;
  margin-left: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2b2a2c;
}

li,
a {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  line-height: 48px;
  font-size: 45px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  h1 {
    display: inline-block;
    padding: 7px 9px;
    display: none;
  }
}

.disable {
  display: none !important;
}

.active {
  display: block !important;
}

.links__bg {
  background-color: rgba(0, 0, 0, 0.918);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
/*# sourceMappingURL=style.css.map */