VUE_APP_FRB_API_KEY=AIzaSyCtlXcrsarGonIS6fasUISZGosgS844qx6dd4
VUE_APP_FRB_AUTH_DOMAIN=abcd-dev.firebaseapp.com
VUE_APP_FRB_DB_URL=https://abcd-dev.firebaseio.com
VUE_APP_FRB_PROJECT_ID=abcd-dev
VUE_APP_FRB_STORAGE_BACKET=abcd-dev.appspot.com
VUE_APP_FRB_MESS_ID=43746861344
VUE_APP_FRB_APP_ID=1:43746861344:web:f4330f41f35ae7a4dec04c
VUE_APP_FRB_MEASURE_ID=G-3QLZ874W6V
