.my-button {
  border-radius: 19px;
  border: 2px solid $base-color;
  font-size: 16px;
  font-weight: 700;
  color: $base-color;
  padding: 12px 26px;
  line-height: 16.84px;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    background-color: $base-color;
  }
  &-dark {
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: $base-color;
    padding: 21px 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #fff;
      color: $base-color;
    }
    @include _576 {
      font-size: 14px;
      padding: 11px 16px;
    }
  }
  &-white {
    border-radius: 25px;
    border: 1px solid $second-color;
    color: $second-color;
    padding: 21px 37px;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    letter-spacing: 0.8px;
    @include _576 {
      background-color: rgba(255, 255, 255, 0.671);
    }
    &:hover {
      background-color: $base-color;
    }
    @include _576 {
      padding: 11px 16px;
    }
  }
  &-square {
    width: 41px;
    height: 41px;
    background-color: #fff;
    @include _576 {
      background-color: rgba(255, 255, 255, 0.671);
    }

    border: 1px solid $base-color;
    border-radius: 50%;
    transition: all 0.2s ease;
    color: $base-color;
    &:hover {
      transform: scale(1.04);
      box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
}
