.contacts {
  &__title {
    padding-top: 107px;
    font-size: 45px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0 auto;
    color: $base-color;
  }
  &__subtitle {
    color: $second-color;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 19px;
  }
}
