.header {
  padding-top: 18px;
  position: relative;

  .menu {
    max-height: 57px;
    width: 100%;
    overflow-x: hidden;
    &__icon {
      width: 32px;
      display: none;
      @include _992 {
        // position: absolute;
        // right: 30px;
        // right: 50px;

        // top: 12px;
        display: block;
      }

      @include _768 {
      }
      @include _576 {
        right: 0;
        transform: translateX(-50%);
      }
      padding-top: 5px;
    }

    &__avatar {
      &-image {
        max-width: 57px;
        max-height: 57px;
        border-radius: 100%;
        margin-right: 15px;
        max-height: 57px;
      }
      &-title {
        padding-top: 3px;
        @include label;
      }
      &-subtitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        color: $second-color;
        padding-top: 5px;
      }
    }
    &__links {
      transition: 0.3 all ease;

      @include _992 {
        display: none;
      }

      @include _576 {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
      }

      ul {
        @include _992 {
          display: flex;
          flex-direction: column;
          font-size: 28px;
          margin: 0 auto;
          justify-content: center;
        }
      }

      &-item {
        margin-right: 10px;
        &:hover {
          border-bottom: 3px solid $base-color;
        }
        a {
          @include label;
          text-transform: uppercase;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
  .main {
    position: relative;
    width: 100%;
    max-height: 607px;
    padding-top: 168px;
    // padding-top: 59px;
    // margin-top: 58px;
    @include _768 {
      padding-top: 400px;
      // max-height: 2000px;
      // padding-top: 63px;
    }
    &__bg {
      width: 528px;
      min-height: 410px;
      max-height: 449px;
      background: url("../img/header_bg_min.png") right top/cover no-repeat;
      z-index: -1;
      position: absolute;
      right: 20px;
      top: 97px;
      @include _992 {
        right: 0px;
      }
      @include _768 {
      }
      @include _576 {
        top: 50px;
        right: 0px;
      }
      // z-index: -20;
      // position: relative;
    }
    &__right {
      background: url("../img/man_min.png") right bottom no-repeat;
      height: 100%;

      width: 100%;
      position: absolute;
      right: 107px;
      top: 0px;
      z-index: -1;
      transform: scale(0.97);
      @include _992 {
        right: 30px;
      }
      @include _768 {
        right: 0px;

        height: 431px;
        left: 0px;
        margin: 0;
        top: 20px;
        padding: 0;
        z-index: -1;
        top: 0;

        // transform: translateX(100px);
        background-size: contain;

        //  background: rgba(211, 171, 243, 0.658);
      }
      @include _576 {
        // transform: translateX(20px);
        transform: scale(0.87);
        right: 0px;
        bottom: 0px;
      }
    }
    &__left {
      // padding-top: 78px;
      padding-top: 33px;
      position: relative;
      z-index: 1;
      @include _992 {
        padding-top: 0;
      }
      @include _768 {
        position: absolute;
        top: 100px;
      }
      @include _576 {
        position: absolute;
        top: 0px;
        padding-top: 0;
        max-width: 250px;
      }
      .title {
        &-pre {
          color: $base-color;
          font-size: 32px;
          font-weight: 300;
          line-height: 15px;
          padding-bottom: 15px;
          @include _992 {
            font-size: 24px;
            line-height: 15px;
          }
          @include _768 {
            font-size: 20px;
            line-height: 10px;
          }
          @include _576 {
            display: none;
          }
        }
        &-desc {
          color: $second-color;
          padding-top: 19px;
          font-size: 18px;
          font-weight: 400;
          line-height: 15px;
          @include _768 {
            font-size: 16px;
            line-height: 10px;
          }
          @include _576 {
            display: inline-block;
            font-weight: normal;
            background-color: rgba(255, 255, 255, 0.795);

            padding: 7px 9px;

            line-height: 15px;
            display: none;
          }
        }
      }
      &-buttons {
        padding-top: 42px;
        margin-bottom: 43px;

        @include _768 {
          padding-top: 20px;
          // display: flex;
          // flex-direction: column;
          margin-bottom: 17px;
          a {
            padding-bottom: 10px;
          }
        }
        @include _576 {
          position: absolute;
          top: -10px;
          max-width: 200px;
        }
      }
      &-social {
        padding-top: 27px;
        @include _576 {
          padding-left: 20px;
          padding-top: 140px;
          max-width: 100px;

          display: flex;
          flex-direction: column;
          button {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
